.header-container {
	background-color: #f4f4f4;
	font-size: 16px;
	line-height: 1.6;
	margin: 0;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(68, 99, 185);
	color: white;
	width: 100%;
	position: relative;
}

.h-logo {
	text-align: start;
}

.h-logo h1 {
	color: white;
}

.goto:hover {
	text-decoration: underline;
}

.h-login:hover {
	text-decoration: underline;
}

.h-register:hover {
	text-decoration: underline;
}

.h-auth {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.h-auth a {
	padding: 0px 8px;
	color: white;
}

.search-wrapper {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.find-container {
	position: absolute;
	left: 14px;
	color: black;
	opacity: 0.6;
	font-size: 1.2rem;
}

.search-container {
	display: flex;
	align-items: center;
}

.search-container button {
	position: absolute;
	font-size: 1.5rem;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	color: black;
	opacity: 0.6;
	left: 93%;
	width: auto;
}

.search-container input {
	padding-left: 40px;
	height: 2.5rem;
	font-size: 16px;
	width: 500px;
	transition: 0.5s;
	border-radius: 3px;
	border: 2px solid white;
	outline: none;
}
