* {
	font-family: 'Segoe UI', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: white;
}

a {
	color: black;
	text-decoration: none;
}

hr {
	margin: 5px 0;
	border: 1px solid #dad9d9;
}

/* Auth-styles */

.auntification {
	background-color: #dcdcdc;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 0 20px;
}

.auth-container {
	display: flex;
	gap: 20px;
	background-color: #fff;
	width: 100%;
	max-width: 450px;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.auth-container form {
	width: 100%;
}

.auth-container form h2 {
	text-align: center;
	font-weight: 700;
}

.auth-title {
	text-align: center;
	margin-bottom: 20px;
	color: #2c2c2cb1;
}

.form-controll {
	position: relative;
	height: 50px;
}

.form-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 1rem;
	border: 1px solid #dadce0;
	border-radius: 0.5rem;
	outline: none;
	padding: 1rem;
	background: none;
	z-index: 1;
}

.form-label {
	position: absolute;
	left: 1rem;
	top: 1rem;
	padding: 0 0.25rem;
	background-color: #fff;
	color: #808688;
	font-size: 1rem;
	transition: 0.3s;
	z-index: -1;
}

.form-controll:focus-within .form-label {
	top: -0.8rem;
	left: 0.8rem;
	display: block;
	z-index: 10;
}

.form-input:focus::placeholder {
	color: transparent;
}

.form-controll textarea {
	width: 100%;
	padding: 10px;
	padding-right: 40px;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
}

.auth-container form button {
	width: 100%;
	border: none;
	padding: 10px;
	background-color: #000000;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.3s ease;
	margin-top: 10px;
	margin-bottom: 15px;
}

.auth-container form button:hover {
	opacity: 0.8;
}

.quest {
	text-align: center;
}

.quest p {
	padding: 1px;
	font-weight: 300;
	color: #303030;
}

.quest a {
	padding: 1px;
	border-bottom: 0.5px solid #303030;
	font-weight: 300;
	color: #303030;
}

.error,
.error-message {
	color: red;
}

.visibality-er {
	visibility: visible;
}

.hidden-er {
	visibility: hidden;
}

.error-message {
	margin: 5px 0px 0.7rem 15px;
}

.fa-circle-check {
	color: rgb(0, 255, 0);
	height: 100%;
	padding: 1.15rem;
	font-size: 1.1rem;
	margin-left: 88%;
	margin-top: 1px;
}

.fa-cx {
	height: 100%;
	color: red;
	padding: 1.15rem;
	font-size: 1.1rem;
	margin-left: 88%;
	margin-top: 1px;
}

.valid {
	color: #00ff00;
	border: 1px solid #00ff00;
}

.invalid {
	color: red;
	border: 1px solid red;
}

.fvalid {
	color: #00ff00;
}

.finvalid {
	color: red;
}

.icon-container {
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 1;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 30px;
}

/* ----------- */

/* Home-styles */

.add-post {
	padding: 10px;
	transition: 0.5s;
	border-radius: 15px;
}

.add-post:hover {
	background-color: #dad9d9;
}

.add-post button i {
	font-size: 35px;
	cursor: pointer;
}

.post-description {
	opacity: 0.8;
	margin-bottom: 10px;
}

.post-title {
	font-size: 2rem;
}

.post-container {
	font-size: 1.4rem;
	width: auto;
	margin: 5px 0;
}

.post-content {
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 0.05px;
	transition: 0.5s;
	padding-left: 20px;
	position: relative;
}

.post-author {
	font-size: 18px;
	position: absolute;
	top: 10px;
	left: 10px;
	opacity: 0.8;
}

.post-date {
	font-size: 12px;
	position: absolute;
	bottom: 0px;
	right: 10px;
	opacity: 0.6;
}

.post-details {
	position: relative;
}

.post-content:hover {
	background-color: #dad9d9;
	border-radius: 0.5rem;
}

.posts-container {
	width: 80%;
	margin: 0 auto;
}

.posts-container h2 {
	font-size: 32px;
	font-weight: 700;
	padding-left: 20px;
	margin: 10px 0;
}

.posts-container ul {
	list-style: none;
}

.posts-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.posts-head h2 {
	font-size: 32px;
	font-weight: 700;
}

.posts-head .add-post button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.posts-head .add-post button i {
	color: #000000;
	font-size: 35px;
}

.more-menu {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 10px;
	display: inline-block;
}

.more-menu button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	color: #000000;
}

.dropdown-menu {
	position: absolute;
	left: 100%;
	top: 0;
	margin-left: 10px;
	background-color: #ffffff;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-menu button {
	white-space: nowrap;
	display: block;
	width: 100%;
	padding: 8px 16px;
	background-color: #ffffff;
	border: none;
	text-align: left;
	cursor: pointer;
}

.dropdown-menu button:hover {
	background-color: #f1f1f1;
}

/* ----------- */

/* Modal.css */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	height: 70%;
	width: 65%;
	background: white;
	padding: 10px 20px;
	border-radius: 8px;
	position: relative;
}

.close-button {
	position: absolute;
	top: 0px;
	padding: 0 10px 10px 10px;
	height: 50px;
	right: 5px;
	background: none;
	border: none;
	font-size: 1.8rem;
	cursor: pointer;
	z-index: 9;
}

/* ----------- */

/* Create/Edit post */

.create-container {
	font-size: 1.5rem;
	height: 100%;
	width: 100%;
}

.create-container form button {
	position: absolute;
	cursor: pointer;
	right: 20px;
	bottom: 10px;
	border: none;
	background-color: rgb(68, 99, 185);
	padding: 10px 20px;
	border-radius: 12px;
	color: white;
	font-weight: 500;
	z-index: 9;
}

.create-container h2 {
	font-size: 1.2rem;
	opacity: 0.8;
	width: auto;
	margin-bottom: 10px;
}

.create-container input,
.create-container textarea {
	border: 2px solid white;
	outline: none;
	width: 100%;
	font-size: 20px;
	border-radius: 10px;
	padding: 10px 20px;
}

.create-container input {
	font-size: 2.5rem;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.create-container textarea {
	font-size: 1.5rem;
	resize: none;
	overflow: hidden;
	height: 88%;
}

.create-container form {
	width: 100%;
	height: 95%;
}

.text-content {
	width: 100%;
	height: 80%;
}

/* ----------- */

/* Profile */

.profile-cont {
	align-items: end;
	background-color: rgb(43, 47, 60);
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
}

.profile-cont button {
	position: absolute;
	font-size: 3.5rem;
	background-color: rgb(43, 47, 60);
	border: none;
	right: 30px;
	top: 2.8rem;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: flex;
}

.profile-cont .h-logo {
	font-size: 2.5rem;
	padding-left: 25px;
	position: absolute;
	top: 15px;
	left: 30px;
}

.profile-container {
	justify-content: center;
	width: 70%;
	list-style: none;
}

.content-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-content {
	font-size: 20px;
}

.profile-content a div {
	padding-right: 10px;
}

.back {
	padding: 0 20px;
	background-color: rgb(57, 63, 79);
	display: flex;
	align-items: end;
	height: 100%;
	width: 70%;
	font-size: 3.5rem;
}

.p-email {
	font-size: 2.5rem;
	opacity: 0.6;
	padding-left: 1.5rem;
}

.profile-root li {
	display: flex;
}

/* ----------- */

/* NotFound */
.notf-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}

.notf-content {
	max-width: 600px;
	margin: 0 auto;
}
/* ----------- */
